/.vs/
/MyDAL.Test/bin/
/MyDAL.Test/obj/
/MyDAL/bin/
/MyDAL/obj/
/NetCore21/MyDAL.Test.Create/bin/
/NetCore21/MyDAL.Test.Create/obj/
/NetCore21/MyDAL.Test.Delete/bin/
/NetCore21/MyDAL.Test.Delete/obj/
/NetCore21/MyDAL.Test.Func/bin/
/NetCore21/MyDAL.Test.Func/obj/
/NetCore21/MyDAL.Test.ShortcutAPI/bin/
/NetCore21/MyDAL.Test.ShortcutAPI/obj/
/NetCore21/MyDAL.Test.Update/bin/
/NetCore21/MyDAL.Test.Update/obj/
/NetCore21/MyDAL.Test.WhereEdge/bin/
/NetCore21/MyDAL.Test.WhereEdge/obj/
/MyDAL.Test.Parallel/bin/
/MyDAL.Test.Parallel/obj/
/NetCore21/MyDAL.Test.QueryAPI/bin/
/NetCore21/MyDAL.Test.QueryAPI/obj/
/NetCore21/MyDAL.Test.Compare/bin/
/NetCore21/MyDAL.Test.Compare/obj/
/NetCore21/MyDAL.Test.Tools/bin/
/NetCore21/MyDAL.Test.Tools/obj/
/MyDAL.Test.DataRecovery/bin/
/MyDAL.Test.DataRecovery/obj/
/packages/
/Net461/MyDAL.Test2.Create/bin/
/Net461/MyDAL.Test2.Create/obj/
/Net461/MyDAL.Test2.Delete/bin/
/Net461/MyDAL.Test2.Delete/obj/
/Net461/MyDAL.Test2.Query/bin/
/Net461/MyDAL.Test2.Query/obj/
/Net461/MyDAL.Test2.Update/bin/
/Net461/MyDAL.Test2.Update/obj/
/TestResults/
/Net462/MyDAL.Test3.Query/bin/
/Net462/MyDAL.Test3.Query/obj/
/NetCore21/MyDAL.Test.SqlAction/obj/
/NetCore21/MyDAL.Test.SqlAction/bin/
/NetCore21/MyDAL.Test.CsFunc/obj/
/NetCore21/MyDAL.Test.CsFunc/bin/
/.idea/
/MyDAL.Parallel/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Compare/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Compare/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Create/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Create/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.CsFunc/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.CsFunc/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Delete/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Delete/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Func/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Func/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.QueryAPI/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.QueryAPI/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.SqlAction/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.SqlAction/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Tools/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Tools/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Update/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.Update/obj/
/Example and Test/AsyncMethod/NetCore31/MyDAL.WhereEdge/bin/
/Example and Test/AsyncMethod/NetCore31/MyDAL.WhereEdge/obj/
/Example and Test/DataRecovery/MyDAL.Test.DataRecovery/bin/
/Example and Test/DataRecovery/MyDAL.Test.DataRecovery/obj/
/Example and Test/MyDAL.Test/bin/
/Example and Test/MyDAL.Test/obj/
/Example and Test/Parallel/MyDAL.Parallel/bin/
/Example and Test/Parallel/MyDAL.Parallel/obj/
/Example and Test/MyDAL.Devart/bin/
/Example and Test/MyDAL.Devart/obj/
/Example and Test/MyDAL.Connector/bin/
/Example and Test/MyDAL.Connector/obj/
/MyDAL.Net4/obj/
/MyDAL/.idea/
/MyDAL.sln.DotSettings.user
/Function_Count/bin/
/Function_Count/obj/
/Mysql.DataNet6/bin/Debug/net6.0
/Mysql.DataNet6/obj
