/.vs/
/MyDAL.Test/bin/
/MyDAL.Test/obj/
/MyDAL/bin/
/MyDAL/obj/
/MyDAL.Test.NetCore/bin/
/MyDAL.Test.NetCore/obj/
/MyDAL.Test.NetFramework/bin/
/MyDAL.Test.NetFramework/obj/
/NetCore21/MyDAL.Test.Create/bin/
/NetCore21/MyDAL.Test.Create/obj/
/NetCore21/MyDAL.Test.Delete/bin/
/NetCore21/MyDAL.Test.Delete/obj/
/NetCore21/MyDAL.Test.Func/bin/
/NetCore21/MyDAL.Test.Func/obj/
/NetCore21/MyDAL.Test.JoinQueryM/bin/
/NetCore21/MyDAL.Test.JoinQueryM/obj/
/NetCore21/MyDAL.Test.JoinQuerySingleColumn/bin/
/NetCore21/MyDAL.Test.JoinQuerySingleColumn/obj/
/NetCore21/MyDAL.Test.JoinQueryVmColumn/bin/
/NetCore21/MyDAL.Test.JoinQueryVmColumn/obj/
/NetCore21/MyDAL.Test.QueryM/bin/
/NetCore21/MyDAL.Test.QueryM/obj/
/NetCore21/MyDAL.Test.QuerySingleColumn/bin/
/NetCore21/MyDAL.Test.QuerySingleColumn/obj/
/NetCore21/MyDAL.Test.QueryVM/bin/
/NetCore21/MyDAL.Test.QueryVM/obj/
/NetCore21/MyDAL.Test.QueryVmColumn/bin/
/NetCore21/MyDAL.Test.QueryVmColumn/obj/
/NetCore21/MyDAL.Test.ShortcutAPI/bin/
/NetCore21/MyDAL.Test.ShortcutAPI/obj/
/NetCore21/MyDAL.Test.Update/bin/
/NetCore21/MyDAL.Test.Update/obj/
/NetCore21/MyDAL.Test.WhereEdge/bin/
/NetCore21/MyDAL.Test.WhereEdge/obj/
/MyDAL.Test.Parallel/bin/
/MyDAL.Test.Parallel/obj/
