/.vs/
/MyDAL.Test.Func/bin/
/MyDAL.Test.Func/obj/
/MyDAL.Test.CodeFirst/bin/
/MyDAL.Test.CodeFirst/obj/
/MyDAL.Test.QuickAPI/bin/
/MyDAL.Test.QuickAPI/obj/
/MyDAL.Test.Join.Query/bin/
/MyDAL.Test.Join.Query/obj/
/MyDAL.Test.QueryVM/bin/
/MyDAL.Test.QueryVM/obj/
/MyDAL.Test.QueryVmColumn/bin/
/MyDAL.Test.QueryVmColumn/obj/
/MyDAL.Test.JoinQueryVM/bin/
/MyDAL.Test.JoinQueryVM/obj/
/MyDAL.Test.JoinQueryVmColumn/bin/
/MyDAL.Test.JoinQueryVmColumn/obj/
/MyDAL.Test.WhereEdge/bin/
/MyDAL.Test.WhereEdge/obj/
/MyDAL.Test/bin/
/MyDAL.Test/obj/
/MyDAL.Test.Create/bin/
/MyDAL.Test.Create/obj/
/MyDAL.Test.Delete/bin/
/MyDAL.Test.Delete/obj/
/MyDAL.Test.JoinQueryM/bin/
/MyDAL.Test.JoinQueryM/obj/
/MyDAL.Test.QueryM/bin/
/MyDAL.Test.QueryM/obj/
/MyDAL.Test.Update/bin/
/MyDAL.Test.Update/obj/
/MyDAL/bin/
/MyDAL/obj/
/MyDAL.Test.QuerySingleColumn/bin/
/MyDAL.Test.QuerySingleColumn/obj/
/MyDAL.Test.QueryParallel/bin/
/MyDAL.Test.QueryParallel/obj/
